header nav, header nav ul, header nav ul li, .registruokis {
	display: inline-block;
}

header {
	text-align: center;
}

header nav ul li {
	margin: 0px 10px;
}

header nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: calibri;
	color: #333;
	font-size: 14px;
}

.registruokis {
	background-color: #00b0ec;
	text-align: center;
	padding: 10px 20px;
	font-family: calibri;
	text-transform: uppercase;
	font-size: 13px;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.registruokis:hover {
	background-color: #198cb3;
}